.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 35px 30px;
}
.search {
    display: flex;
    align-items: center;
    padding: 15px;
    background: #1A1A22;
    border-radius: 7px;
    width: 100%;
    max-width: 40%;
}
.search__input {
    flex-grow: 1;
    border: none;
    background: none;
    color: #fff;
    outline: none;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Nunito';
    padding: 0 10px;
}
.search__input::placeholder {
    color: #494959;
}
.search__settings-icon {
    cursor: pointer;
}
.search__icon {
    width: 25px;
    height: auto;
} 

.header__list {
    display: flex;
    align-items: center;
    list-style: none;
}
.header__user {
    display: flex;
    align-items: center;
}
.header__user-info {
    display: flex;
    align-items: center;
}
.header__user-name {
    color: #fff;
    font-family: 'Nunito';
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    margin: 0 1rem;
}
.header__user-img {
    border-radius: 50%;
    overflow: hidden;
    width: 57px;
    height: 57px;
}
.header__item {
    margin-left: 50px;
    cursor: pointer;
}
.header__icon {
    width: 25px;
    height: 25px;
    fill: #494959;
    transition: 0.2s ease-in-out;
}
.header__icon-inner {
    fill: #0D0D12;
}

.header__item:hover svg {
    fill: #288BFF;
}
.header__item:hover .header__icon-inner {
    fill: #fff;
}